{# templates/page_presentation_cesi/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page Presentation Cesi
{% endblock %}

<meta charset="UTF-8">



{% block body %}
   
<div style="background-image: url(path/to/your/image.jpg); height: 400px; max-width: 100%;">
        <h1>Bienvenue dans votre ecole</h1>
    </div>
</div>


</div>


<div style="margin-top: 200px;">
    <h3>Événements, journées portes ouvertes…</h3>
    <p>Retrouvez les temps forts de CESI en lien avec les entreprises locales et la vie associative, les conseils et informations pratiques, les portes ouvertes, le logement etc. pour réussir votre cursus.</p>

</div>

<div style="margin-top: 200px;">
    <h3>S'engager, Accompagner</h3>

<div style="display: flex;">

        <div style="flex: 1;">
            <h3>Travailler chez CESI</h3>
            <p>Rejoignez nos 1 300 collaborateurs passionnés par leur métier qui transmettent leur savoir-faire et accompagnent les 26 000 étudiants formés chaque année par CESI au sein de nos 25 campus répartis sur l’ensemble du territoire français.</p>
        </div>
        <div style="flex: 1;">
            <h3>CESI recrute</h3>
            <p>Postulez en ligne sur notre site internet. Si vous correspondez au profil recherché, vous serez contacté par un de nos recruteurs en région.

Consulter nos offres d’emplois</p>
        </div>
        <div style="flex: 1;">
            <h3>Temoignage metier</h3>
            <p>« Être enseignant chercheur chez CESI, c’est participer à l’innovation et à son appropriation par nos apprenants. »

Andrea Boisadan, Enseignante-chercheuse

Découvrir les témoignages</p>
        </div>
    </div>
</div>





{% endblock %}



