<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}"/>

<section class="footer_section">
	<footer>
		<div>
			<p>
				<b>CESI</b>
			</p>
			<p>Ecole</p>
			<p>Carrière</p>
		</div>
		<div>
			<p>
				<b>Programmes</b>
			</p>
			<p>Développeur·se informatique</p>
			<p>Système et réseau</p>
		</div>
		<div>
			<p>
				<b>Divers</b>
			</p>
			<p>Contact</p>
			<p>Plan de site</p>
		</div>
		<div>
			<p>
				<b>Réglementations</b>
			</p>
			<p>Politique de confidentialité</p>
			<p>Politique de cookies UE</p>
			<p>Mentions légales</p>
		</div>
	</footer>
</section>
